In [1]:
import pandas as pd

In [5]:
essonne = pd.read_csv('../data/basias-essonne.csv')

In [6]:
essonne.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3112 entries, 0 to 3111
Data columns (total 9 columns):
identifiant       3112 non-null object
adresse           2934 non-null object
raison_sociale    3091 non-null object
nom               2179 non-null object
code_postal       3112 non-null int64
code_insee        3112 non-null int64
nom_commune       3112 non-null object
longitude         2946 non-null float64
latitude          2946 non-null float64
dtypes: float64(2), int64(2), object(5)
memory usage: 218.9+ KB

In [7]:
essonne.count()

identifiant       3112
adresse           2934
raison_sociale    3091
nom               2179
code_postal       3112
code_insee        3112
nom_commune       3112
longitude         2946
latitude          2946
dtype: int64

In [8]:
basias = pd.read_csv('../data/basias.csv')

In [9]:
basias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290768 entries, 0 to 290767
Data columns (total 9 columns):
identifiant       290768 non-null object
adresse           176133 non-null object
raison_sociale    273837 non-null object
nom               186211 non-null object
code_postal       36629 non-null float64
code_insee        36671 non-null float64
nom_commune       36671 non-null object
longitude         228273 non-null float64
latitude          228273 non-null float64
dtypes: float64(4), object(5)
memory usage: 20.0+ MB

In [10]:
basias.count()

identifiant       290768
adresse           176133
raison_sociale    273837
nom               186211
code_postal        36629
code_insee         36671
nom_commune        36671
longitude         228273
latitude          228273
dtype: int64