In [2]:
import os 
import pandas as pd
%load_ext sql
%matplotlib inline

## Connexion à la base Postgre

In [3]:
user = os.getenv('POSTGRES_USER')
password = os.getenv('POSTGRES_PWD')
host = os.getenv('POSTGRES_HOST')
port = os.getenv('POSTGRES_PORT')
%sql postgresql://{user}:{password}@{host}:{port}/kelrisks

'Connected: benoit@kelrisks'

In [4]:
%%sql result <<
SELECT COUNT(*)
FROM s3ic

 * postgresql://benoit:***@db-postgresql-fra1-71263-do-user-3351636-0.db.ondigitalocean.com:25060/kelrisks
1 rows affected.
Returning data to local variable result

In [5]:
print("On dénombre %s ICPE en Ile-de-France" % result[0]['count'])

On dénombre 26286 ICPE en Ile-de-France

## Analyse des informations géographiques

In [6]:
%%sql 
SELECT precision, COUNT(precision)
FROM s3ic 
GROUP BY precision

 * postgresql://benoit:***@db-postgresql-fra1-71263-do-user-3351636-0.db.ondigitalocean.com:25060/kelrisks
5 rows affected.

[('Adresse postale', 1344),
 ('Valeur Initiale', 8204),
 ('Centroïde Commune', 13259),
 ('', 110),
 ('Coordonnée précise', 3369)]

In [7]:
%%sql 
SELECT COUNT(*) 
FROM s3ic 
WHERE precision = 'Centroïde Commune' AND adresse is not null

 * postgresql://benoit:***@db-postgresql-fra1-71263-do-user-3351636-0.db.ondigitalocean.com:25060/kelrisks
1 rows affected.

[(13259,)]

## Géocodage des adresses

On utilise le service [adresse.data.gouv](https://adresse.data.gouv) pour géocoder les adresses disponibles
et on stocke le résultat dans la table `s3ic_geocoded`

In [10]:
%%sql 
SELECT COUNT(*) 
FROM s3ic_geocoded 
WHERE precision = 'Centroïde Commune' 
AND geocoded_geog is not null

 * postgresql://benoit:***@db-postgresql-fra1-71263-do-user-3351636-0.db.ondigitalocean.com:25060/kelrisks
1 rows affected.

[(6568,)]